/* index.html */
body {
    margin: 0;
    padding: 0;
    border: none;
}
header{
    margin-top: 0px;
    background-color: black;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    text-align: center;
}
li {
    display: inline-block;
    margin: 45px;   
}
/* navigation links  */
a {
    text-decoration: none;
    color: white;
}
main {
    margin-bottom: 0;
}
footer {
    align-items: flex-end;
    justify-content: end;
    background-color: black;
    margin-top: 0;
}
.titlepage:hover {
    color: white;
}
