body {
    margin-top: 0px;
    padding: 0px;
}
header {
    margin-top: 0;
    background-color: black;
}
#titlepage {
    color: white;  
    margin-top: 0 ;
    padding: 0;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    text-align: center;
}
li {
    display: inline-block;
    margin: 45px;   
}
a {
    text-decoration: none;
    color: white;
}
#disc {
    color: royalblue;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.box {
    width: 300px;
    height: 300px;
    margin: 35px;
    border: 4px black solid;
    justify-content: center;
    text-align: center;
}
img {
    width: 300px;
    height: 300px;
}

