*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.title {
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}   
.navbar {
    background: black;
    height: 80px;
    width: 100%;
}
#profile {
    color: palevioletred;
}

.navbar ul {
    float: right;
    margin-right: 40px;
}
.navbar li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}
.navbar ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.topnav:hover {
    background-color: grey;
    border: 2px solid grey;
    transition: .5s;
}
.checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container{
    height: 690px;
}
.box1 {
    background-color: white;
    margin: 50px;
    margin-left: 200px;
    border: 1px black solid;
    height: 500px;
    width: 500px;
  }
.box2   {
    margin:110px;
    height: 260px;
    width: 450px;
    align-self: center  ;
    border: 1px black solid;
    align-items: right;
    text-align: center;
  }
#somiprofile {
    height: 500px;
    width: 500px;
  }
.socials {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.links {
    color: white;
    text-transform: uppercase;
    padding: 30px;
}
footer {
    background-color: black;
}
@media (max-width: 952px){
    .title {
        font-size: 30px;
        padding-left: 50px;
    }
    .navbar ul li a{
        font-size: 16px;
    }
   
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li {
        display: block;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    .topnav:hover {
        color: pink;
        border: none;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
}