/* index.html */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    margin-top: 0px;
    background-color: black;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    border: none;
}
li {
    display: inline-block;
    margin: 50px;   
    padding: none;
    border: none;
}
/* navigation links  */
a {
    text-decoration: none;
    color: white;
}
main {
    margin-bottom: 0;
}
footer {
    position: inherit;
    bottom:0;
    width: 100%;
    background-color: black;
    margin-top: auto;
    float: inline-start;
    border: none;
    padding: none;
    
}
.socials {
    color: white;
    border: none;
    padding: none;
}